body {
    margin: auto;
    background: url("https://lh3.googleusercontent.com/dk9S2K-9mfYcQXTVfw4mbyE4b735JLUFx_moUW_D7ZKY7-HkjVyXsHIIp1JX5698VLtgTVnXir777oF2C7p94BEwWfY7yTEj8jsuoCbQ9bC_1skGEgqrd8Xx-mxNvCly0ajgocHs4V4Ux_jJkSkiaWgtTIVMh2u7qqGca89vJubEPfhj9BZeh2R7p59g2_MKojsFEeD9hf2IdM3VNF08fyeXjig2hwz-YS_-IEqarv9QlymOcyiFiBbklOh-wQNQ0rGs1FBWU3NtiKrvsDd2ZDb6Ob84-JzHbqJF5wkWnNGBBHFKeBDAMWdjoqmXESMONAUQs_Pb7EX9QjA5a57RwfZDawK8KNslDeNVO02R32rGV4TN6m6-1Dn5PWIMWeCNC35TeKYU4oGX6KD06NJ_g82s-Z1Yv1lqYUs8fJhQRpknE1rpLWZ4N6WVrA-Xj7PUvaFVrvRl_zC01Ttnql4_mMSZ8Cjci-pIUXNb2f_QwFXpxYgRpEVri66Ar4rnJmNQHFa-532HofH3foGBcCuD2dIjgY03I4rH_CtRxW8hKTUBMVbIEAtY4f34OEZxYVDSOIfiZga5AS9JXQURhjoptGpNLCS6PPE9XP-jYAd8lFNJ5HhG5d4GyjFs2cpADu4MIjFsjrwJg8w2Kn-5yQBFFOT7KL5JPX2hcgNDf9scls8XgTWLPOfIcXdNfSVgYlrX2MT_AptzOB4Da6fCt2IjgxY=w753-h903-no?authuser=0");
    font-family: 'Lato';
    line-height: 1.5;
}

.espaçar {
    color: white;
}

.facebook {
    right: 5px;
    top: 3px;
    margin: 5px 15px 5px 5px;
    display: inline;
}

header {
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 10%;
    top: 0%;
    left: 0%;
    right: 0%;
}

.botão :hover {
    text-size-adjust: 10px;
    color: white;
    background: black;
}

.botão {
    text-decoration: none;
    text-size-adjust: 30px;
    color: black;
    display: inline;
    text-align: center;
    width: 350px;
    height: 45px;
    border: 4px inset #000000;
    padding: 5px, 20px;
    border-radius: 25px;
    background: white;
    margin: 10px 15px 5px 5px;
}

main {
    margin: 5%;
    color: white;
    background: url("https://lh3.googleusercontent.com/yNARgQ4H6EzSXJd_T5p4jOo1TIa6N_543LO4P5kNo9G18qv8CLpTGLa3Tsi9FR6crBPK1IJrThxFpJe4Ccr7vb4WmCCSM9SpCN_gSxkEiOYF0UBeW-GFMeFTtDhnDik5JA0wOnC9KtbRqddOqR6-JYFrZEv20wiCMNw6DaDpThSZbO_kTdoRUvllGpvLp4lu88jxpXqNJE1QOvc40KBQED6bdBeH5jcluhX3LXGJWJQ8nqPYNvGgLGYjn3lNpjej86HwowZkxIzdAvUdiXki4SC6z5u0KF7Lvbwo_1LZPh1bsWTwYtMmxmPsa1Mk2kEH4UhRpcMFASZUswuo-ZPzQcthn-yteP36eXcehLymytUnNhPc7HqOmHzVUq5-GGndEX2QjT2uXzUbme0omhpFRWozYR2Uw9TFovjXr1lyZBSDOyRxejBcBfnN0Ckrgoqec4NMuHCYTgAmZtsGgTRwNyds921mYECPHNgiV_4YIGvMOU9jNX5rELFB8enG-5Vq_GsaUp3dIJXQL7ZhMdUrgWcyDMVMArE7xvzLH_fQwYECO9nGmG2u-vqrM5sd7tWh9BqEPt2BqOMNguBcCi3tGGtFUEyIh1yu1swef-I2OZ9Jb6Kg8JDo-Ney76PP9y5FeXxhIVrLntSYf_BdesiIwF38mlE5SufxTiy3CqZJ3O0ht2gB-aGLdNwpGCpZNUVBUbQCxoARm3Wg-gCOrUmqvU4=w678-h903-no?authuser=0");
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 30px;
    text-align: center;
}

ementa {
    align-tracks: center;
    text-align: center;
    color: black;
    background: white;
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 30px;
    width: 350px;
    height: 45px;
}
