body {
    margin: 5%;
    background: url(https://lh3.googleusercontent.com/dk9S2K-9mfYcQXTVfw4mbyE4b735JLUFx_moUW_D7ZKY7-HkjVyXsHIIp1JX5698VLtgTVnXir777oF2C7p94BEwWfY7yTEj8jsuoCbQ9bC_1skGEgqrd8Xx-mxNvCly0ajgocHs4V4Ux_jJkSkiaWgtTIVMh2u7qqGca89vJubEPfhj9BZeh2R7p59g2_MKojsFEeD9hf2IdM3VNF08fyeXjig2hwz-YS_-IEqarv9QlymOcyiFiBbklOh-wQNQ0rGs1FBWU3NtiKrvsDd2ZDb6Ob84-JzHbqJF5wkWnNGBBHFKeBDAMWdjoqmXESMONAUQs_Pb7EX9QjA5a57RwfZDawK8KNslDeNVO02R32rGV4TN6m6-1Dn5PWIMWeCNC35TeKYU4oGX6KD06NJ_g82s-Z1Yv1lqYUs8fJhQRpknE1rpLWZ4N6WVrA-Xj7PUvaFVrvRl_zC01Ttnql4_mMSZ8Cjci-pIUXNb2f_QwFXpxYgRpEVri66Ar4rnJmNQHFa-532HofH3foGBcCuD2dIjgY03I4rH_CtRxW8hKTUBMVbIEAtY4f34OEZxYVDSOIfiZga5AS9JXQURhjoptGpNLCS6PPE9XP-jYAd8lFNJ5HhG5d4GyjFs2cpADu4MIjFsjrwJg8w2Kn-5yQBFFOT7KL5JPX2hcgNDf9scls8XgTWLPOfIcXdNfSVgYlrX2MT_AptzOB4Da6fCt2IjgxY=w753-h903-no?authuser=0);
    font-family: 'Lato';
    line-height: 1.5;
}

.barra {
    border-color: rgb(0, 0, 0);
    border-left: 2px;
    width: 100%;
}

.espaçar {
    color: white;
}

.facebook {
    right: 5px;
    top: 3px;
    margin: 5px 15px 5px 5px;
    display: inline;
}

header {
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 10%;
    top: 0%;
    left: 0%;
    right: 0%;
}


/*  GRID OF THREE  */

.span_3_of_3 {
    width: 100%;
    text-align: left;
}

.span_2_of_3 {
    width: 65%;
    text-align: left;
}

.span_1_of_3 {
    width: 30%;
    text-align: left;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_3_of_3,
    .span_2_of_3,
    .span_1_of_3 {
        width: 100%;
    }
}


/*  SECTIONS  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 5%;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

ul {
    list-style-type: circle;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}

.barra {
    color: black;
    padding: auto;
    background-color: black;
    border: 2px inset black;
}

.botão {
    color: black;
    display: inline;
    text-align: center;
    width: 350px;
    height: 45px;
    border: 4px inset #000000;
    padding: 5px, 20px;
    border-radius: 25px;
    margin: 10px 15px 5px 5px;
    background: white;
}

.foto {
    border: 2px inset transparent;
}

.linha {
    border-left: 3px inset black;
    height: 100px;
    width: 50%;
}

.end {
    padding: 5px 40px;
    border-radius: 20px;
    margin: 10%;
    filter: alpha(opacity=60);
    background-image: url("//lh3.googleusercontent.com/3ywrNWNLGqmlxUc3G555psOpcLWPVzNN3kv0uUr5-bikoTo-fX810xMRML5Qg9LQ1HDTyQ=s113");
    background-color: #00000061;
    background-position-y: -580px;
    background-position-x: -1050px;
    color: black;
}

.endt {
    padding: 5px 20px;
    background-color: #ffffff9c;
    border-radius: 20px;
    margin: 10%;
    color: rgb(5, 5, 5);
    filter: alpha(opacity=100);
    opacity: 1;
}

main {
    margin: 5%;
    color: black;
    background: #ffffffde;
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 30px;
    text-align: center;
}

ementa {
    align-tracks: center;
    text-align: center;
    color: black;
    background: white;
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 30px;
    width: 350px;
    height: 45px;
}


/*  GRID OF TWO  */

.span_2_of_2 {
    width: 100%;
    text-align: left;
}

.span_1_of_2 {
    width: 48.5%;
    text-align: left;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
}

@media only screen and (max-width: 480px) {
    .span_2_of_2,
    .span_1_of_2 {
        width: 100%;
    }
}


/*  SECTIONS  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 3%;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}
