body{
    background-color: rgb(177, 169, 169);
    
}
.titulo{
    text-align: center;
}
.conteiner{
    margin:1% 5% ;
}
.btn{
    width: 20vw ;
    height: 4vh;
    text-align: center;
    margin-left:40vw ;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 40vw;

}
#info{
    position:absolute;
    border: 3px solid black;
    margin-left: 25vw;
    width: 40vw;
    height: 200px;
    border-radius: 1.85rem;
    align-items: center;
    text-align: center;
    padding: 5px 5px;
    background-color: rgba(240, 248, 255, 0.9);
}

.Excel{
    border: 3px solid black;
    height: 600px;
    width: 100%;
    border-radius:5px;
}
 
