body {
    margin: auto;
    background: url(https://github.com/GBarradas/Gbarradas.github.io/blob/main/Imagens/background.png?raw=true);
    font-family: 'Lato';
    line-height: 1.5;
}

.endt {
    margin-left: 5%;
    margin-right: 5%;
    margin: 5%;
    color: white;
    background: url("https://github.com/GBarradas/Gbarradas.github.io/blob/main/Imagens/11.jpg?raw=true");
    margin-top: 20px;
    border-radius: 30px;
    text-align: center;
    background-position-x: -100px;
    background-position-y: -550px;
}

.espaçar {
    color: white;
}

.facebook {
    right: 5px;
    top: 3px;
    margin: 5px 15px 5px 5px;
    display: inline;
}

header {
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 10%;
    top: 0%;
    left: 0%;
    right: 0%;
}


.botão {
    color: black;
    display: inline;
    text-align: center;
    width: 350px;
    height: 45px;
    border-color: transparent;
    padding: 5px, 20px;
    border-radius: 25px;
    margin: 10px 15px 5px 5px;
    background: white;
}

main {
    margin: 5%;
    color: white;
    background: url("https://github.com/GBarradas/Gbarradas.github.io/blob/main/Imagens/2.jpg?raw=true");
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 30px;
    text-align: center;
}

ementa {
    align-tracks: center;
    text-align: center;
    color: black;
    background: white;
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 30px;
    width: 350px;
    height: 45px;
}
